@model myCAM.Queries.GoodItemData
<h1>@Model.Name</h1>
<h2>@Model.Artist</h2>
<img src="@Model.ImageUrl" />
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addToGalleryModal">
    Add to Gallery
</button>

<div class="modal fade" id="addToGalleryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Choose a Gallery</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Add</button>*@
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var $theModal = $('#addToGalleryModal');
        var modalBody = $theModal.find(".modal-body");
        $theModal.on('show.bs.modal', function(e) {
            var $this = $(this);
            var request = $.get("/Gallery/AddToGalleryDialog");
            request.done(function(data) {
                ////debugger;
                modalBody.html(data);
                //$this.modal('show');
            });
            //return false;
        });
        modalBody.on("click", "button", function(parameters) {
            var value = $(this).data("galleryId");
            var itemId = @Model.Id;
            var request = $.post("/Item/AddToGallery", { galleryId: value, itemId: itemId});
            request.done(function(data) {
                if (data.success) {
                    window.location.href = "/Gallery/Index/" + value;
                } else {
                    alert("An error occurred. Please try again.")
                }
            })
        });

    </script>
}
