@model myCAM.Models.CreateGalleryModel

<form action="/Gallery/Create" method="post">
    <h1>Create Gallery</h1>
    <label>
        Theme<br/>
        @Html.TextBoxFor(model => model.Title)
    </label>
    <div>
        <label>Description (Optional)</label><br/>
        @Html.TextAreaFor(x => x.Description)
    </div>
    <button type="submit">Submit</button>
</form>
