@model myCAM.Models.CreateGalleryModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Create Gallery</title>
</head>
<body>
<div>
    <h1>Gallery Theme</h1>
    @Html.TextBoxFor(model => model.Title)
    <label>What do you want to say about these items?</label>
    @Html.TextAreaFor(x => x.Description)
</div>
</body>
</html>