@model myCAM.Models.CreateGalleryModel

<div>
    <h1>Create Gallery</h1>
    <label>
        Gallery Theme
        @Html.TextBoxFor(model => model.Title)
    </label>
    <label>Description (Optional)</label>
    @Html.TextAreaFor(x => x.Description)
</div>
