@model myCAM.Models.GalleryViewModel
<div>
    @this.Model.Title
    @Model.Description
    @foreach (var galleryItemInfo in Model.Items)
    {
        @galleryItemInfo.GoodItemData.Name
        <img src="@galleryItemInfo.GoodItemData.ImageUrl"/>
    }
</div>
